<div class="ui pointing fluid label" *ngIf="visible">
  <a class="ui"></a>
  <a class="ui mini top right attached label"
    (click)="resetHistory();"
  >✕</a>
  <div *ngFor="let line of historyList"
    (click)="false"
  >
      <div class="ui tiny basic labeled button">
        <a class="ui right pointing label"
          (click)="copyToDisplay(line.expression);"
        >{{ line.expression }}</a>
        <a class="ui label"
          (click)="copyToDisplay(line.result);"
        >{{ line.result }}</a>
      </div>
  </div>
</div>
<!--  data-tooltip="Clear History" data-position="left center" -->
