<table>
  <tr>
    <td colSpan=4>
      <app-display extraClass="fluid basic label" [labelValue]="this.displayExpression"></app-display>
    </td>
  </tr>
  <tr>
    <td colspan=4>
      <app-display extraClass="fluid {{ this.inError ? 'red' : 'black' }}" [labelValue]="this.localResult"></app-display>
    </td>
  </tr>
  <tr>
    <td>
      <app-button-component buttonText="C" extraClass="teal"
        (click)="resetPress()"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="(" extraClass="teal"
        (click)="parensPress('(')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText=")" extraClass="teal"
        (click)="parensPress(')')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="←" extraClass="teal"
        (click)="deletePress()"
      ></app-button-component>
    </td>
  </tr>
  <tr>
    <td>
      <app-button-component buttonText="7"
        (click)="numberPress('7')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="8"
        (click)="numberPress('8')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="9"
        (click)="numberPress('9')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="÷" extraClass="orange"
        (click)="operatorPress('/')"
      ></app-button-component>
    </td>
  </tr>
  <tr>
    <td>
      <app-button-component buttonText="4"
        (click)="numberPress('4')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="5"
        (click)="numberPress('5')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="6"
        (click)="numberPress('6')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="×" extraClass="orange"
        (click)="operatorPress('*')"
      ></app-button-component>
    </td>
  </tr>
  <tr>
    <td>
      <app-button-component buttonText="1"
        (click)="numberPress('1')"
      ></app-button-component>
      </td>
    <td>
      <app-button-component buttonText="2"
        (click)="numberPress('2')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="3"
        (click)="numberPress('3')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="−" extraClass="orange"
        (click)="operatorPress('-')"
      ></app-button-component>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <app-button-component buttonText="0"
        (click)="numberPress('0')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component [buttonText]="this._localDecimal"
        (click)="numberPress('.')"
      ></app-button-component>
    </td>
    <td>
      <app-button-component buttonText="+" extraClass="orange"
        (click)="operatorPress('+')"
      ></app-button-component>
    </td>
  </tr>
  <tr>
    <td td colSpan=4>
      <app-history [historyList]="this.historyList" [visible]="this.localStorageService.isSupported && this.localStorageService.length() > 0"
          (onCopyToDisplay)="copyToDisplay($event)"
        ></app-history>
    </td>
  </tr>
</table>
